<div class="container mt-6">
    <span> Don't enter any sensitive information </span>
<br/>   
    <span> कोणतीही संवेदनशील माहिती प्रविष्ट करू नका </span>
</div>
<br/>
<div class="container mt-7">
    <form [formGroup]="myForm" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="file1">Photos :1 (Bappa & Decoretion Photo / 
                बाप्पाचे आणि सजावट फोटो)</label>
            <input formControlName="file1" id="file1" type="file" class="form-control" multiple="multiple"
                accept=".jpg, .png, .jpeg" (change)="onFileChange($event)">
            <div *ngIf="f.file1.touched && f.file1.invalid" class="alert alert-danger">
                <div *ngIf="f.file1.errors.required">File is required.</div>
            </div>

        </div>

        <div class="form-group">
            <label for="name">Name ( your short name or Your Ganpati bappas name/ तुमचे छोटे नाव किंवा गणपती बाप्पाचे नाव)</label>
            <input formControlName="name" id="name" type="text" class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
                <div *ngIf="f.name.errors.maxlength">Name should be 60 character.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Description (Something about Bappa or Message to relatives who have not got chance to visit due to COVID 19/
                बाप्पाबद्दल काही किंवा COVID 19 मुळे भेट घेण्याची संधी न मिळालेल्या नातेवाईकांना संदेश)</label>
            <input formControlName="description" id="description" type="text" class="form-control">
            <div *ngIf="f.description.touched && f.description.invalid" class="alert alert-danger">
                <div *ngIf="f.description.errors.required">Name is required.</div>
                <div *ngIf="f.description.errors.minlength">Name should be 3 character.</div>
                <div *ngIf="f.name.errors.maxlength">Name should be 400 character.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="name">State & City/District & Village (Ex: Maharashtra-Sindhudurg-Kumbhavde / महाराष्ट्र - सिंधुदुर्ग - कुंभवडे) </label>
            <input formControlName="city" id="city" type="text" class="form-control">
            <div *ngIf="f.city.touched && f.city.invalid" class="alert alert-danger">
                <div *ngIf="f.city.errors.required">Name is required.</div>
                <div *ngIf="f.city.errors.minlength">Name should be 3 character.</div>
                <div *ngIf="f.name.errors.maxlength">Name should be 60 character.</div>
            
            </div>
        </div>
        <div class="form-group">
            <label for="wadi">Wadi (कोकणासाठी विशेष 😉 Ex: जंगमवाडी, वरचीवाडी)</label>
            <input formControlName="wadi" id="wadi" type="text" class="form-control">
            <div *ngIf="f.wadi.touched && f.wadi.invalid" class="alert alert-danger">
                <div *ngIf="f.wadi.errors.required">Name is required.</div>
                <div *ngIf="f.wadi.errors.minlength">Name should be 3 character.</div>
                <div *ngIf="f.name.errors.maxlength">Name should be 40 character.</div>
            </div>
        </div>
        

        


        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
    </ngx-spinner>  